$basefont: "Montserrat", sans-serif;

$primary-color: #109FBF;
$secondary-color: #29C1E6;
$tertiary-color: #FBBF4F;
$quaternary-color: #FA8A42;
$quinary-color: #F8F9FE;

// $primary-color: rgba(16, 159, 191, 1);  // #109FBF
// $secondary-color: rgba(41, 193, 230, 1); // #29C1E6
// $tertiary-color: rgba(251, 191, 79, 1);  // #FBBF4F
// $quaternary-color: rgba(250, 138, 66, 1);  // #FA8A42
 // $quinary-color: rgba(248, 249, 254, 1); // #F8F9FE